# Added Data Dictionary:

# Notes:
 - 1,901 schools total
 
Column Data:
 - 'Census Tract' column; useful for neighborhood-level data that influences student outcomes (poverty, housing density, economic status); ensures demograhic consistency over many yrs
 - 'Community District' column; uesful for grouping based on official governance and management units of the school system; reports to DOE use this

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

# School-based information can change throughout the year. 
# Updates for the next school year are integrated into the report by July 15 of each year.

school_data = pd.read_csv('data/LCGMS_SchoolData_20251204_1133.csv', low_memory=False)

school_data.head()

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
0,NaN,OBIG,Intellectus Preparatory Charter School,6.609009e+11,Charter,General Academic,Secondary School,"06,07,08,09,10,11,12","06,07,08,09,10,11,12",Jul 1 2022,Open,OBIG,11 West Prospect Avenue,Mount Vernon,NY,10550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,84,NaN,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN
1,01M015,M015,P.S. 015 Roberto Clemente,3.101000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1904,Open,M015,333 EAST 4 STREET,MANHATTAN,NY,10009,1.003740e+09,2601.0,103.0,2.0,MN28,Lower East Side,IRENE SANCHEZ,Principal,212-228-8730,212-477-0931,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC
2,01M020,M020,P.S. 020 Anna Silver,3.101000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1963,Open,M020,166 ESSEX STREET,MANHATTAN,NY,10002,1.003550e+09,3001.0,103.0,1.0,MN27,Chinatown,SARAH PINTO,Principal,212-254-9577,212-254-3526,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC
3,01M034,M034,P.S. 034 Franklin D. Roosevelt,3.101000e+11,DOE,General Academic,K-8,"PK,0K,01,02,03,04,05,06,07,08,SE","PK,0K,01,02,03,04,05,06,07,08",Jul 1 1955,Open,M034,730 East 12 Street,Manhattan,NY,10009,1.003810e+09,2800.0,103.0,2.0,MN28,Lower East Side,ERICK SANCHEZ,I.A. Principal,212-228-4433,212-353-1973,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC
4,01M063,M063,The STAR Academy - P.S.63,3.101000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1905,Open,M063,121 EAST 3 STREET,MANHATTAN,NY,10009,1.004310e+09,3200.0,103.0,2.0,MN22,East Village,David Gonzalez,Principal,212-674-3180,212-420-9018,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC

In [2]:
school_data_add = pd.read_csv('extraneous_data/LCGMS_SchoolData_additional_geocoded_fields_added.csv', low_memory=False)

school_data_add.head()

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Superintendent,Superintendent Location Code,Community School Sup Name,BFSC Location Code,BFSC Director Name,BFSC Director Title,BFSC Director Phone,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,Borough,BIN,Latitude,Longitude
0,NaN,O001,Amani Charter School,6.610000e+11,Charter,General Academic,Secondary School,"05,06",NaN,Dec 12 2012,Open,OABQ,261 EAST LINCOLN AVENUE,MT VERNON,NY,10522,0,NaN,0,0,NaN,NaN,NaN,NaN,914-668-6450,NaN,0,84,NaN,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,OAQK,"Victory Schools, DBA The Charter School of Exc...",6.620000e+11,Charter,General Academic,Elementary,"0K,01,02,03,04",NaN,Mar 20 2006,Open,OAQK,260 WARBURTON AVE,YONKERS,NY,10701,0,NaN,0,0,NaN,NaN,NaN,PRINCIPAL,NaN,NaN,0,0,NaN,OUTSIDE N.Y.C.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,OAWF,The Academy Charter School,8.000000e+11,Charter,General Academic,Elementary,"0K,01,02,03,04,05",NaN,Jul 1 2009,Open,OAWF,94 Fulton Avenue,Hempstead,NY,11550,0,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,84,NaN,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01M015,M015,P.S. 015 Roberto Clemente,3.100000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1904,Open,M015,333 EAST 4 STREET,MANHATTAN,NY,10009,1003740020,2601.0,103,2,MN28,Lower East Side,IRENE SANCHEZ,PRINCIPAL,212-228-8730,212-477-0931,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"PHILLIPS, DANIELLA",M801,"PHILLIPS, DANIELLA",MFSC,"CHU, YUET",FSC Executive Director,646-470-0721,NaN,NaN,NaN,MANHATTAN,,40.721807,-73.979022
4,01M019,M019,P.S. 019 Asher Levy,3.100000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1956,Open,M019,185 1 AVENUE,MANHATTAN,NY,10003,1004530034,4000.0,103,2,MN22,East Village,JACQUELINE FLANAGAN,PRINCIPAL,212-533-5340,212-673-1477,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"PHILLIPS, DANIELLA",M801,"PHILLIPS, DANIELLA",MFSC,"CHU, YUET",FSC Executive Director,646-470-0721,NaN,NaN,NaN,MANHATTAN,,40.729636,-73.983818

In [3]:
school_data.shape

(1901, 36)

In [4]:
school_data_add.shape

(1843, 44)

# Note:
- 'Location Name' fewer < than 'Location Code', upon filtering
- Two duplicate Location Names: 'P.S. 360' and 'P.S. 376'
- 
- school_data has more row data, but school_data_add has additional columns (*figure out what additional ones exist here*)

In [5]:
school_data['Location Name'].nunique()

1899

In [6]:
school_data['Location Code'].nunique()

1901

In [7]:
# Duplicate Location names, unique Location Codes:

school_data[school_data['Location Name'].duplicated(keep=False)].sort_values('Location Name')

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
510,10X360,X360,P.S. 360,3.210000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 1999,Open,X360,2880 KINGSBRIDGE TERRACE,BRONX,NY,10463,2.032530e+09,27300.0,208.0,14.0,BX28,Van Cortlandt Village,Susan Rivera,Principal,718-548-1511,718-548-1536,10,10,X810,COMMUNITY SCHOOL DISTRICT 10,Roberto Hernandez,NaN,NaN,NaN,NaN,XFSC
1389,29Q360,Q360,P.S. 360,3.429000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 2015,Open,Q892,199-10 112 AVENUE,QUEENS,NY,11412,4.109750e+09,52000.0,412.0,27.0,QN08,St. Albans,Rachel Thomas,Principal,718-776-7370,718-776-7380,29,29,Q829,COMMUNITY SCHOOL DISTRICT 29,ROBIN DAVSON,NaN,NaN,NaN,NaN,QFSS
1224,26Q376,Q376,P.S. 376,3.426000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Sep 1 2017,Open,Q332,210-21 48 AVENUE,QUEENS,NY,11364,4.073270e+09,144700.0,411.0,19.0,QN46,Bayside-Bayside Hills,Rosa Choi,Principal,929-267-5900,929-267-5910,26,26,Q826,COMMUNITY SCHOOL DISTRICT 26,ANTHONY INZERILLO,NaN,NaN,NaN,NaN,QFSN
1539,32K376,K376,P.S. 376,3.332000e+11,DOE,General Academic,Elementary,"0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 1996,Open,K376,194 HARMAN STREET,BROOKLYN,NY,11237,3.032870e+09,43100.0,304.0,37.0,BK77,Bushwick North,Natalie Perez,Principal,718-573-0781,718-573-0769,32,32,K832,COMMUNITY SCHOOL DISTRICT 32,Arelis Parache,NaN,NaN,NaN,NaN,KFSN

In [8]:
school_data[school_data['Location Name'].isin(school_data_add['Location Name'])].shape

(1618, 36)

In [9]:
school_data_add[school_data_add['Location Code'].isin(school_data['Location Code'])].shape

(1776, 44)

In [10]:
common_cols = school_data.columns.intersection(school_data_add.columns)

add_cols = school_data_add.columns.difference(school_data.columns)

main_cols = school_data.columns.difference(school_data_add.columns)

print('Column names in common:\n', common_cols, '\n')
print('Columns only in school_data:\n', main_cols, '\n')
print('Columns only in school_data_add:\n', add_cols)

Column names in common:
 Index(['ATS System Code', 'Location Code', 'Location Name', 'BEDS Number',
       'Managed By Name', 'Location Type Description',
       'Location Category Description', 'Grades', 'Grades Final', 'Open Date',
       'Status Description', 'Building Code', 'Primary Address', 'City',
       'State Code', 'Zip', 'Borough Block Lot', 'Census Tract',
       'Community District', 'Council District', 'NTA', 'NTA_Name',
       'Principal Name', 'Principal Title', 'Principal Phone Number',
       'Fax Number', 'Geographical District Code',
       'Administrative District Code', 'Administrative District Location Code',
       'Administrative District Name', 'Community School Sup Name',
       'HighSchool Network Location Code', 'HighSchool Network Name',
       'HighSchool Network Superintendent'],
      dtype='object')

Columns only in school_data:
 Index(['BCO Location Code', 'HighSchool Network Superintendent Email'], dtype='object')

Columns only in school_data_add:
 Index(['BFSC Director Name', 'BFSC Director Phone', 'BFSC Director Title',
       'BFSC Location Code', 'BIN', 'Borough', 'Latitude', 'Longitude',
       'Superintendent', 'Superintendent Location Code'],
      dtype='object')

In [11]:
for col in common_cols:
    print(col)

ATS System Code
Location Code
Location Name
BEDS Number
Managed By Name
Location Type Description
Location Category Description
Grades
Grades Final
Open Date
Status Description
Building Code
Primary Address
City
State Code
Zip
Borough Block Lot
Census Tract
Community District
Council District
NTA
NTA_Name
Principal Name
Principal Title
Principal Phone Number
Fax Number
Geographical District Code
Administrative District Code
Administrative District Location Code
Administrative District Name
Community School Sup Name
HighSchool Network Location Code
HighSchool Network Name
HighSchool Network Superintendent

In [12]:
for col in main_cols:
    print(col)

BCO Location Code
HighSchool Network Superintendent Email

In [13]:
for col in add_cols:
    print(col)

BFSC Director Name
BFSC Director Phone
BFSC Director Title
BFSC Location Code
BIN
Borough
Latitude
Longitude
Superintendent
Superintendent Location Code

In [14]:
school_data.sample()

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
127,02M542,M542,Manhattan Bridges High School,3.102000e+11,DOE,General Academic,High school,"09,10,11,12,SE","09,10,11,12",Jul 1 2003,Open,M535,525 West 50 Street,Manhattan,NY,10019,1.010790e+09,13500.0,104.0,3.0,MN15,Clinton,George Lock,Principal,212-757-5274,646-557-3926,2,2,HS07,NaN,NaN,HS07,HS Network 07 Superintendent Office,NOAH ANGELES,NAngeles2@schools.nyc.gov,XFSC

# Note:
- Location Name 'HBCU Early College Prep HS' is missing!
- Was just opened this Fall, 2025

In [15]:
school_data[school_data['Location Name'] == 'Northwell School of Health Sciences']

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
1443,30Q472,Q472,Northwell School of Health Sciences,3.430000e+11,DOE,General Academic,High school,"09,SE","09,10,11,12,SE",Jul 1 2025,Open,Q472,53-16 Northern Boulevard,Queens,NY,11377,4.011920e+09,255.0,402.0,26.0,QN63,Woodside,Erika Hurtado,Principal,NaN,NaN,30,30,HS03,NaN,NaN,HS03,HS Network 03 Superintendent Office,"WALSH, FRED",FWalsh@schools.nyc.gov,MFSC

In [16]:
school_data_add[school_data_add['Location Name'] == 'Northwell School of Health Sciences']

Empty DataFrame
Columns: [ATS System Code, Location Code, Location Name, BEDS Number, Managed By Name, Location Type Description, Location Category Description, Grades, Grades Final, Open Date, Status Description, Building Code, Primary Address, City, State Code, Zip, Borough Block Lot, Census Tract, Community District, Council District, NTA, NTA_Name, Principal Name, Principal Title, Principal Phone Number, Fax Number, Geographical District Code, Administrative District Code, Administrative District Location Code, Administrative District Name, Superintendent, Superintendent Location Code, Community School Sup Name, BFSC Location Code, BFSC Director Name, BFSC Director Title, BFSC Director Phone, HighSchool Network Location Code, HighSchool Network Name, HighSchool Network Superintendent, Borough, BIN, Latitude, Longitude]
Index: []

In [17]:
school_data[school_data['Location Code'] == 'K084']

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
694,14K084,K084,P.S. 084 Jose De Diego,3.314000e+11,DOE,General Academic,K-8,"PK,0K,01,02,03,04,05,06,07,08,SE","PK,0K,01,02,03,04,05,06,07,08",Jul 1 1969,Open,K084,250 Berry Street,Brooklyn,NY,11249,3.023910e+09,55100.0,301.0,34.0,BK73,North Side-South Side,Sereida Rodriguez,Principal,718-384-8063,718-302-2313,14,14,K814,COMMUNITY SCHOOL DISTRICT 14,DAVID CINTRON,NaN,NaN,NaN,NaN,KFSN

In [18]:
school_data[school_data['Zip'] == 11368]

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
1096,24Q014,Q014,P.S. 014 Fairview,3.424000e+11,DOE,General Academic,Elementary,"0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 1915,Open,Q014,107-01 OTIS AVENUE,QUEENS,NY,11368,4.019540e+09,43900.0,404.0,21.0,QN25,Corona,Heather Benson,Principal,718-699-6071,718-699-3224,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1097,24Q016,Q016,P.S. Q016 The Nancy DeBenedittis School,3.424000e+11,DOE,General Academic,Elementary,"0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 1999,Open,Q721,41-15 104 STREET,QUEENS,NY,11368,4.019850e+09,40300.0,404.0,21.0,QN26,North Corona,Katherine Rodriguez,I.A. Principal,718-505-0140,718-505-0141,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1098,24Q019,Q019,P.S. 019 Marino Jeantet,3.424000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 1924,Open,Q019,40-10 99 Street,Queens,NY,11368,4.016070e+09,40900.0,404.0,21.0,QN26,North Corona,KRYSTLE JIMENEZ,Principal,718-424-5859,718-424-7953,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1099,24Q028,Q028,P.S. 28 - The Thomas Emanuel Early Childhood C...,3.424000e+11,DOE,General Academic,Early Childhood,"0K,01,02,SE","PK,0K,01,02",Jul 1 2002,Open,Q028,109-10 47 AVENUE,QUEENS,NY,11368,4.020030e+09,41500.0,404.0,21.0,QN25,Corona,Robert Quintana,Principal,718-271-4971,718-271-2576,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1102,24Q061,Q061,I.S. 061 Leonardo Da Vinci,3.424000e+11,DOE,General Academic,Junior High-Intermediate-Middle,"06,07,08,SE","06,07,08",Jul 1 1966,Open,Q061,98-50 50 AVENUE,QUEENS,NY,11368,4.018910e+09,44302.0,404.0,21.0,QN25,Corona,JOSEPH LISA,Principal,718-760-3233,718-760-5220,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1114,24Q110,Q110,P.S. 110,3.424000e+11,DOE,General Academic,Elementary,"0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 2012,Open,Q315,43-18 97 Place,Queens,NY,11368,4.016130e+09,37500.0,404.0,21.0,QN26,North Corona,Elisa Gomez,Principal,718-424-8278,718-424-8345,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1119,24Q143,Q143,P.S. 143 Louis Armstrong,3.424000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 1929,Open,Q143,34-55 112 Street,Queens,NY,11368,4.017560e+09,38100.0,403.0,21.0,QN26,North Corona,Justine Lucas,Principal,718-429-5700,718-478-8306,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1122,24Q211,Q211,Elm Tree Elementary School,3.424000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 2013,Open,Q298,50-51 98 Street,Queens,NY,11368,4.018910e+09,44302.0,404.0,21.0,QN25,Corona,Kristen Niven,Principal,929-208-4860,909-208-4862,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1133,24Q307,Q307,Pioneer Academy,3.424000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 2008,Open,Q260,40-20 100 Street,Queens,NY,11368,4.016080e+09,40700.0,404.0,21.0,QN26,North Corona,CECILIA JACKSON,Principal,718-779-5068,718-779-5109,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1134,24Q311,Q311,Corona Arts & Sciences Academy,3.424000e+11,DOE,General Academic,Junior High-Intermediate-Middle,"06,07,08,SE","06,07,08",Jul 1 2013,Open,Q311,98-11 44 Avenue,Queens,NY,11368,4.016280e+09,40900.0,404.0,21.0,QN26,North Corona,Beth Hert,Principal,718-507-3820,718-507-3828,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1135,24Q330,Q330,Helen M. Marshall School,3.424000e+11,DOE,General Academic,Elementary,"0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 2010,Open,Q287,110-08 NORTHERN BOULEVARD,QUEENS,NY,11368,4.017250e+09,38100.0,403.0,21.0,QN26,North Corona,Debra Rudolph,Principal,718-505-5110,718-505-5115,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1143,24Q550,Q550,High School for Arts and Business,3.424000e+11,DOE,General Academic,High school,"09,10,11,12,SE","09,10,11,12",Apr 24 1998,Open,Q456,105-25 Horace Harding Expy N,Queens,NY,11368,4.019630e+09,43701.0,404.0,21.0,QN25,Corona,ANA ZAMBRANO BURAKO,Principal,718-271-8383,718-271-7196,24,24,HS01,NaN,NaN,HS01,HS Network 01 Superintendent Office,HOA TU,htu@schools.nyc.gov,QFSN
1404,30Q092,Q092,P.S. 092 Harry T. Stewart Sr.,3.430000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1913,Open,Q292,99-01 34 AVENUE,QUEENS,NY,11368,4.017140e+09,37700.0,403.0,21.0,QN26,North Corona,Daisy Morales,Principal,718-533-1013,718-533-1083,30,30,Q830,COMMUNITY SCHOOL DISTRICT 30,LISA HIDALGO,NaN,NaN,NaN,NaN,QFSN
1782,84Q418,Q418,Our World Neighborhood Charter School 3,3.424009e+11,Charter,General Academic,Elementary,"0K,01,02,03,04",NaN,Jul 1 2022,Open,QCQV,108-68 Roosevelt Avenue,Queens,NY,11368,4.019968e+09,2003.0,404.0,21.0,NaN,NaN,Tanicqua Pryor,Principal,NaN,NaN,24,84,NaN,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
school_data['Community District'].value_counts().shape

(60,)

In [20]:
school_data[school_data['City'] == 'SYOSSET']

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
1588,75Q256,Q256,P.S. Q256,3.075000e+11,DOE,Special Education,K-12 all grades,"PK,0K,01,02,03,04,05,06,07,08,09,10,11,12,SE","PK,0K,01,02,03,04,05,06,07,08,09,10,11,12,SE",Jul 1 1999,Open,L001,525 CONVENT ROAD,SYOSSET,NY,11791,0.0,NaN,0.0,0.0,NaN,NaN,Robert Lopez,Principal,516-921-0450,516-921-4045,0,75,DA75,CITYWIDE SPECIAL EDUCATION,Keisha McCoy,NaN,NaN,NaN,NaN,D075

# Cleaning up the columns to be exported:

## 'bn','Location Name','Primary Address','City','Zip','Census Tract','Community District'

In [21]:
school_data['Census Tract'] = school_data['Census Tract'].astype('Int64')
school_data['Community District'] = school_data['Community District'].astype('Int64')

In [22]:
school_data['Community District'].head()

0    <NA>
1     103
2     103
3     103
4     103
Name: Community District, dtype: Int64

In [23]:
school_data[school_data['City'] == 'NEW YORK']

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
11,01M188,M188,P.S. 188 The Island School,3.101000e+11,DOE,General Academic,K-8,"PK,0K,01,02,03,04,05,06,07,08,SE","PK,0K,01,02,03,04,05,06,07,08",Jul 1 1904,Open,M188,442 EAST HOUSTON STREET,NEW YORK,NY,10002,1.003560e+09,2000,103,2.0,MN28,Lower East Side,Suany Ramos,Principal,212-677-5710,212-228-3007,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC
1732,84M382,M382,DREAM Charter School East Harlem,3.104009e+11,Charter,General Academic,K-12 all grades,"PK,0K,01,02,03,04,05,06,07,08","0K,01,02,03,04,05,06,07,08,09,10,11,12",Jul 1 2008,Open,MBMF,1991 SECOND AVENUE,NEW YORK,NY,10029,1.016520e+09,16400,111,8.0,MN33,East Harlem South,Crystal Lane/Lexis White,Principal,212-722-0232,212-348-5979,4,84,NaN,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
school_data[school_data['City'] == 'New York']

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
211,04M505,M505,Edward A. Reynolds West Side High School,3.104000e+11,DOE,Transfer School,High school,"09,10,11,12,SE","09,10,11,12",Jul 1 1900,Open,M895,105 East 106 Street,New York,NY,10029,1.016340e+09,17200,111,8.0,MN33,East Harlem South,Marangelitza Rivera,Principal,332-213-2630,332-213-2631,4,4,HS10,NaN,NaN,HS10,HS Network 10 Superintendent Office,JOHN SULLIVAN,JSulliv3@schools.nyc.gov,ACES
1733,84M383,M383,Storefront Academy Harlem Charter School,3.104009e+11,Charter,General Academic,Elementary,"0K,01,02,03,04,05","0K,01,02,03,04,05",Jul 1 2019,Open,MBMR,439 East 115 Street,New York,NY,10029,1.017090e+09,178,111,8.0,MN34,East Harlem North,Nicole Richardson-Garcia/Taleema Chesney,Principal,NaN,NaN,4,84,NaN,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
school_data[school_data['City'] == 'JAMAICA']

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
1327,28Q310,Q310,Queens Collegiate: A College Board School,3.428000e+11,DOE,General Academic,Secondary School,"06,07,08,09,10,11,12,SE","06,07,08,09,10,11,12",Jul 1 2008,Open,Q470,167-01 GOTHIC DRIVE,JAMAICA,NY,11432,4.098580e+09,45200,408,24.0,QN35,Briarwood-Jamaica Hills,James Harrell,Principal,718-658-4016,718-658-5149,28,28,HS08,NaN,NaN,HS08,HS Network 08 Superintendent Office,JOSEPHINE VAN ESS,JVanEss@schools.nyc.gov,QFSS
1329,28Q325,Q325,Hillside Arts & Letters Academy,3.428000e+11,DOE,General Academic,High school,"09,10,11,12,SE","09,10,11,12",Jul 1 2010,Open,Q470,167-01 GOTHIC DRIVE,JAMAICA,NY,11432,4.098580e+09,45200,408,24.0,QN35,Briarwood-Jamaica Hills,Raquel Nolasco,Principal,718-658-1249,718-658-1613,28,28,HS08,NaN,NaN,HS08,HS Network 08 Superintendent Office,JOSEPHINE VAN ESS,JVanEss@schools.nyc.gov,QFSS
1330,28Q328,Q328,High School for Community Leadership,3.428000e+11,DOE,General Academic,High school,"09,10,11,12,SE","09,10,11,12",Jul 1 2010,Open,Q470,167-01 GOTHIC DRIVE,JAMAICA,NY,11432,4.098580e+09,45200,408,24.0,QN35,Briarwood-Jamaica Hills,CARLOS BORRERO,Principal,718-558-9801,718-558-9807,28,28,HS07,NaN,NaN,HS07,HS Network 07 Superintendent Office,NOAH ANGELES,NAngeles2@schools.nyc.gov,XFSC
1335,28Q350,Q350,Jamaica Gateway to the Sciences,3.428000e+11,DOE,General Academic,High school,"09,10,11,12,SE","09,10,11,12",Jul 1 2011,Open,Q470,167-01 GOTHIC DRIVE,JAMAICA,NY,11432,4.098580e+09,45200,408,24.0,QN35,Briarwood-Jamaica Hills,NEETA AHMED,Principal,718-480-2689,718-480-2697,28,28,HS08,NaN,NaN,HS08,HS Network 08 Superintendent Office,JOSEPHINE VAN ESS,JVanEss@schools.nyc.gov,QFSS

In [33]:
school_data[school_data['City'] == 'Mount Vernon']

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
0,NaN,OBIG,Intellectus Preparatory Charter School,6.609009e+11,Charter,General Academic,Secondary School,"06,07,08,09,10,11,12","06,07,08,09,10,11,12",Jul 1 2022,Open,OBIG,11 West Prospect Avenue,Mount Vernon,NY,10550,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,84,NaN,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
school_data[school_data['City'] == 'Bayside']

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
1226,26Q415,Q415,Benjamin N. Cardozo High School,3.426000e+11,DOE,General Academic,High school,"09,10,11,12,SE","09,10,11,12",Jul 1 1967,Open,Q415,57-00 223 Street,Bayside,NY,11364,4.075290e+09,138501,411,23.0,QN42,Oakland Gardens,Meagan Colby,Principal,718-279-6500,718-631-7880,26,26,HS01,NaN,NaN,HS01,HS Network 01 Superintendent Office,HOA TU,htu@schools.nyc.gov,QFSN

In [35]:
school_data[school_data['City'] == 'JACKSON HEIGHTS']

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
1424,30Q230,Q230,I.S. 230,3.430000e+11,DOE,General Academic,Junior High-Intermediate-Middle,"06,07,08,SE","06,07,08",Jul 1 2000,Open,Q230,73-10 34 AVENUE,JACKSON HEIGHTS,NY,11372,4.012600e+09,28900,403,25.0,QN28,Jackson Heights,AJITH SATYANARAYANA,Principal,718-335-7648,718-335-7513,30,30,Q830,COMMUNITY SCHOOL DISTRICT 30,LISA HIDALGO,NaN,NaN,NaN,NaN,QFSN

## Q: Why does SYOSSET have a Q Location Code?

In [36]:
school_data[school_data['City'] == 'SYOSSET']

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
1588,75Q256,Q256,P.S. Q256,3.075000e+11,DOE,Special Education,K-12 all grades,"PK,0K,01,02,03,04,05,06,07,08,09,10,11,12,SE","PK,0K,01,02,03,04,05,06,07,08,09,10,11,12,SE",Jul 1 1999,Open,L001,525 CONVENT ROAD,SYOSSET,NY,11791,0.0,<NA>,0,0.0,NaN,NaN,Robert Lopez,Principal,516-921-0450,516-921-4045,0,75,DA75,CITYWIDE SPECIAL EDUCATION,Keisha McCoy,NaN,NaN,NaN,NaN,D075

In [24]:
school_data['City'].value_counts()

City
BROOKLYN           411
BRONX              337
QUEENS             257
MANHATTAN          228
Brooklyn           174
Queens             140
Bronx              134
Manhattan          119
STATEN ISLAND       47
Staten Island       33
Staten Is            7
JAMAICA              4
NEW YORK             2
New York             2
STATEN IS            1
Mount Vernon         1
JACKSON HEIGHTS      1
Bayside              1
Brookln              1
SYOSSET              1
Name: count, dtype: int64

# Reassigning non-borough-named cities:

In [25]:
# a function should be created to separate out non-borough-named cities, checking their addresses, assigning boroughs accordingly and dropping them if necessary
# eg. New York --> Manhattan, Jamaica --> Queens, etc.

In [37]:
from thefuzz import process

def assign_borough(city_name):
    '''Assigns a NYC borough based on fuzzy matching of the input city name.
    If no good match is found, returns unchanged city_name with a printed error message.

    Input:
        city_name (str): The name of the city to match.
    Output:
        str: The matched borough name or the unchanged city_name, with a printed error message.
    '''

    # For future expansion, we can add more city names that map to boroughs

    boroughs = ['BROOKLYN', 'BRONX', 'MANHATTAN', 'QUEENS', 'STATEN ISLAND', 'NEW YORK', 'JAMAICA', 'BAYSIDE', 'JACKSON HEIGHTS']
    
    # Clean the input slightly for better accuracy
    input_str = city_name.upper().strip()
    
    # extractOne returns a tuple: (The Match, The Score)
    # Example: ("BROOKLYN", 95)
    match, score = process.extractOne(input_str, boroughs)
    
    # A score of 80 is usually the "sweet spot" for typos.
    # Below 60-70, it's likely a different word entirely.
    if score >= 73:
        if match == 'NEW YORK':
            return 'MANHATTAN'
        elif (match == 'JAMAICA') or (match == 'BAYSIDE') or (match == 'JACKSON HEIGHTS'):
            return 'QUEENS'
        else:
            return match
    
    print(f"Could not confidently match '{city_name}'. Best guess: '{match}' with score {score}%. Returning unchanged.")
    return city_name

# --- Test Cases ---
print(assign_borough("Brookln"))      # Output: BROOKLYN (Score ~93)
print(assign_borough("Manhatten"))    # Output: MANHATTAN (Score ~89)
print(assign_borough("Statin Is."))   # Output: STATEN ISLAND (Score ~73)
print(assign_borough("London"))       # Output: UNKNOWN (Score ~54)

BROOKLYN
MANHATTAN
STATEN ISLAND
Could not confidently match 'London'. Best guess: 'STATEN ISLAND' with score 54%. Returning unchanged.
London

# Note:
- 4 locations have unusual City entries:
- 
- Mount Vernon         1 (Upstate NY, labeled with O)
- Bayside              1 (QUEENS, NY)
- JACKSON HEIGHTS      1 (QUEENS, NY)
- SYOSSET              1 (Long Island, HOWEVER, has Q label)

In [38]:
school_data['City'] = school_data['City'].apply(assign_borough)

school_data['City'].value_counts()

Could not confidently match 'Mount Vernon'. Best guess: 'BRONX' with score 60%. Returning unchanged.
Could not confidently match 'SYOSSET'. Best guess: 'BAYSIDE' with score 43%. Returning unchanged.

City
BROOKLYN         586
BRONX            471
QUEENS           403
MANHATTAN        351
STATEN ISLAND     88
Mount Vernon       1
SYOSSET            1
Name: count, dtype: int64

# Dropping locations that are outside of the five boroughs (for simpler analysis):

In [39]:
school_data_dropped = school_data[school_data['City'].isin(['BROOKLYN', 'BRONX', 'MANHATTAN', 'QUEENS', 'STATEN ISLAND'])]

school_data_dropped.head()

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
1,01M015,M015,P.S. 015 Roberto Clemente,3.101000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1904,Open,M015,333 EAST 4 STREET,MANHATTAN,NY,10009,1.003740e+09,2601,103,2.0,MN28,Lower East Side,IRENE SANCHEZ,Principal,212-228-8730,212-477-0931,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC
2,01M020,M020,P.S. 020 Anna Silver,3.101000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1963,Open,M020,166 ESSEX STREET,MANHATTAN,NY,10002,1.003550e+09,3001,103,1.0,MN27,Chinatown,SARAH PINTO,Principal,212-254-9577,212-254-3526,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC
3,01M034,M034,P.S. 034 Franklin D. Roosevelt,3.101000e+11,DOE,General Academic,K-8,"PK,0K,01,02,03,04,05,06,07,08,SE","PK,0K,01,02,03,04,05,06,07,08",Jul 1 1955,Open,M034,730 East 12 Street,MANHATTAN,NY,10009,1.003810e+09,2800,103,2.0,MN28,Lower East Side,ERICK SANCHEZ,I.A. Principal,212-228-4433,212-353-1973,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC
4,01M063,M063,The STAR Academy - P.S.63,3.101000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1905,Open,M063,121 EAST 3 STREET,MANHATTAN,NY,10009,1.004310e+09,3200,103,2.0,MN22,East Village,David Gonzalez,Principal,212-674-3180,212-420-9018,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC
5,01M064,M064,P.S. 064 Robert Simon,3.101000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1954,Open,M064,600 EAST 6 STREET,MANHATTAN,NY,10009,1.003870e+09,2601,103,2.0,MN28,Lower East Side,Kara Levin,Principal,212-673-6510,212-477-2369,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC

# Exporting Cleaned Data:

In [40]:
# renaming 'Building Code' to 'bn' for consistency with other datasets; then selecting relevant columns
school_location_df = school_data_dropped.rename(columns={'Location Code': 'bn'})[['bn','Location Name','Primary Address','City','Zip','Census Tract','Community District']].copy()
school_location_df.to_csv('cleaned_data/location_data.csv')