# Added Data Dictionary:

# Notes:
 - 1,901 schools total
 
Column Data:
 - 'Census Tract' column; useful for neighborhood-level data that influences student outcomes (poverty, housing density, economic status); ensures demograhic consistency over many yrs
 - 'Community District' column; uesful for grouping based on official governance and management units of the school system; reports to DOE use this

In [2]:
import pandas as pd

pd.set_option('display.max_columns', None)

# School-based information can change throughout the year. 
# Updates for the next school year are integrated into the report by July 15 of each year.

school_data = pd.read_csv('data/LCGMS_\SchoolData_20251204_1133.csv', low_memory=False)

school_data.head()

<>:8: SyntaxWarning: invalid escape sequence '\S'
<>:8: SyntaxWarning: invalid escape sequence '\S'
/var/folders/1t/89rcg0rj2wvbvx9bzx26914r0000gp/T/ipykernel_75831/2675860482.py:8: SyntaxWarning: invalid escape sequence '\S'
  school_data = pd.read_csv('data/LCGMS_\SchoolData_20251204_1133.csv', low_memory=False)

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
0,NaN,OBIG,Intellectus Preparatory Charter School,6.609009e+11,Charter,General Academic,Secondary School,"06,07,08,09,10,11,12","06,07,08,09,10,11,12",Jul 1 2022,Open,OBIG,11 West Prospect Avenue,Mount Vernon,NY,10550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,84,NaN,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN
1,01M015,M015,P.S. 015 Roberto Clemente,3.101000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1904,Open,M015,333 EAST 4 STREET,MANHATTAN,NY,10009,1.003740e+09,2601.0,103.0,2.0,MN28,Lower East Side,IRENE SANCHEZ,Principal,212-228-8730,212-477-0931,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC
2,01M020,M020,P.S. 020 Anna Silver,3.101000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1963,Open,M020,166 ESSEX STREET,MANHATTAN,NY,10002,1.003550e+09,3001.0,103.0,1.0,MN27,Chinatown,SARAH PINTO,Principal,212-254-9577,212-254-3526,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC
3,01M034,M034,P.S. 034 Franklin D. Roosevelt,3.101000e+11,DOE,General Academic,K-8,"PK,0K,01,02,03,04,05,06,07,08,SE","PK,0K,01,02,03,04,05,06,07,08",Jul 1 1955,Open,M034,730 East 12 Street,Manhattan,NY,10009,1.003810e+09,2800.0,103.0,2.0,MN28,Lower East Side,ERICK SANCHEZ,I.A. Principal,212-228-4433,212-353-1973,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC
4,01M063,M063,The STAR Academy - P.S.63,3.101000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1905,Open,M063,121 EAST 3 STREET,MANHATTAN,NY,10009,1.004310e+09,3200.0,103.0,2.0,MN22,East Village,David Gonzalez,Principal,212-674-3180,212-420-9018,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"CHAN, CARRY",NaN,NaN,NaN,NaN,MFSC

In [3]:
school_data_add = pd.read_csv('extraneous_data/LCGMS_SchoolData_additional_geocoded_fields_added_ (1).csv', low_memory=False)

school_data_add.head()

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Superintendent,Superintendent Location Code,Community School Sup Name,BFSC Location Code,BFSC Director Name,BFSC Director Title,BFSC Director Phone,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,Borough,BIN,Latitude,Longitude
0,NaN,O001,Amani Charter School,6.610000e+11,Charter,General Academic,Secondary School,"05,06",NaN,Dec 12 2012,Open,OABQ,261 EAST LINCOLN AVENUE,MT VERNON,NY,10522,0,NaN,0,0,NaN,NaN,NaN,NaN,914-668-6450,NaN,0,84,NaN,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,OAQK,"Victory Schools, DBA The Charter School of Exc...",6.620000e+11,Charter,General Academic,Elementary,"0K,01,02,03,04",NaN,Mar 20 2006,Open,OAQK,260 WARBURTON AVE,YONKERS,NY,10701,0,NaN,0,0,NaN,NaN,NaN,PRINCIPAL,NaN,NaN,0,0,NaN,OUTSIDE N.Y.C.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,OAWF,The Academy Charter School,8.000000e+11,Charter,General Academic,Elementary,"0K,01,02,03,04,05",NaN,Jul 1 2009,Open,OAWF,94 Fulton Avenue,Hempstead,NY,11550,0,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,84,NaN,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01M015,M015,P.S. 015 Roberto Clemente,3.100000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1904,Open,M015,333 EAST 4 STREET,MANHATTAN,NY,10009,1003740020,2601.0,103,2,MN28,Lower East Side,IRENE SANCHEZ,PRINCIPAL,212-228-8730,212-477-0931,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"PHILLIPS, DANIELLA",M801,"PHILLIPS, DANIELLA",MFSC,"CHU, YUET",FSC Executive Director,646-470-0721,NaN,NaN,NaN,MANHATTAN,,40.721807,-73.979022
4,01M019,M019,P.S. 019 Asher Levy,3.100000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1956,Open,M019,185 1 AVENUE,MANHATTAN,NY,10003,1004530034,4000.0,103,2,MN22,East Village,JACQUELINE FLANAGAN,PRINCIPAL,212-533-5340,212-673-1477,1,1,M801,COMMUNITY SCHOOL DISTRICT 01,"PHILLIPS, DANIELLA",M801,"PHILLIPS, DANIELLA",MFSC,"CHU, YUET",FSC Executive Director,646-470-0721,NaN,NaN,NaN,MANHATTAN,,40.729636,-73.983818

In [4]:
school_data.shape

(1901, 36)

In [5]:
school_data_add.shape

(1843, 44)

# Note:
- 'Location Name' fewer < than 'Location Code', upon filtering
- Suggests some Location Names are associated with the same Code (maybe elementary vs JR high vs HS names?)
- 
- school_data has more row data, but school_data_add has additional columns (*figure out what additional ones exist here*)

In [6]:
school_data[school_data['Location Name'].isin(school_data_add['Location Name'])].shape

(1618, 36)

In [7]:
school_data_add[school_data_add['Location Code'].isin(school_data['Location Code'])].shape

(1776, 44)

In [8]:
common_cols = school_data.columns.intersection(school_data_add.columns)

add_cols = school_data_add.columns.difference(school_data.columns)

main_cols = school_data.columns.difference(school_data_add.columns)

print('Column names in common:\n', common_cols, '\n')
print('Columns only in school_data:\n', main_cols, '\n')
print('Columns only in school_data_add:\n', add_cols)

Column names in common:
 Index(['ATS System Code', 'Location Code', 'Location Name', 'BEDS Number',
       'Managed By Name', 'Location Type Description',
       'Location Category Description', 'Grades', 'Grades Final', 'Open Date',
       'Status Description', 'Building Code', 'Primary Address', 'City',
       'State Code', 'Zip', 'Borough Block Lot', 'Census Tract',
       'Community District', 'Council District', 'NTA', 'NTA_Name',
       'Principal Name', 'Principal Title', 'Principal Phone Number',
       'Fax Number', 'Geographical District Code',
       'Administrative District Code', 'Administrative District Location Code',
       'Administrative District Name', 'Community School Sup Name',
       'HighSchool Network Location Code', 'HighSchool Network Name',
       'HighSchool Network Superintendent'],
      dtype='object')

Columns only in school_data:
 Index(['BCO Location Code', 'HighSchool Network Superintendent Email'], dtype='object')

Columns only in school_data_add:
 Index(['BFSC Director Name', 'BFSC Director Phone', 'BFSC Director Title',
       'BFSC Location Code', 'BIN', 'Borough', 'Latitude', 'Longitude',
       'Superintendent', 'Superintendent Location Code'],
      dtype='object')

In [9]:
for col in common_cols:
    print(col)

ATS System Code
Location Code
Location Name
BEDS Number
Managed By Name
Location Type Description
Location Category Description
Grades
Grades Final
Open Date
Status Description
Building Code
Primary Address
City
State Code
Zip
Borough Block Lot
Census Tract
Community District
Council District
NTA
NTA_Name
Principal Name
Principal Title
Principal Phone Number
Fax Number
Geographical District Code
Administrative District Code
Administrative District Location Code
Administrative District Name
Community School Sup Name
HighSchool Network Location Code
HighSchool Network Name
HighSchool Network Superintendent

In [10]:
for col in main_cols:
    print(col)

BCO Location Code
HighSchool Network Superintendent Email

In [11]:
for col in add_cols:
    print(col)

BFSC Director Name
BFSC Director Phone
BFSC Director Title
BFSC Location Code
BIN
Borough
Latitude
Longitude
Superintendent
Superintendent Location Code

In [12]:
school_data.sample()

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
1632,84K536,K536,Community Roots Charter School,3.313009e+11,Charter,General Academic,K-8,"0K,01,02,03,04,05,06,07,08,SE","0K,01,02,03,04,05,06,07,08",Jul 1 2006,Open,K067,51 SAINT EDWARDS STREET,BROOKLYN,NY,11205,3.020390e+09,2901.0,302.0,35.0,BK68,Fort Greene,Allison Keil/Sara Stone,Principal,718-858-1629,718-858-1754,13,84,NaN,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN

# Note:
- Location Name 'HBCU Early College Prep HS' is missing!
- Was just opened this Fall, 2025

In [13]:
school_data[school_data['Location Name'] == 'Northwell School of Health Sciences']

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
1443,30Q472,Q472,Northwell School of Health Sciences,3.430000e+11,DOE,General Academic,High school,"09,SE","09,10,11,12,SE",Jul 1 2025,Open,Q472,53-16 Northern Boulevard,Queens,NY,11377,4.011920e+09,255.0,402.0,26.0,QN63,Woodside,Erika Hurtado,Principal,NaN,NaN,30,30,HS03,NaN,NaN,HS03,HS Network 03 Superintendent Office,"WALSH, FRED",FWalsh@schools.nyc.gov,MFSC

In [14]:
school_data_add[school_data_add['Location Name'] == 'Northwell School of Health Sciences']

Empty DataFrame
Columns: [ATS System Code, Location Code, Location Name, BEDS Number, Managed By Name, Location Type Description, Location Category Description, Grades, Grades Final, Open Date, Status Description, Building Code, Primary Address, City, State Code, Zip, Borough Block Lot, Census Tract, Community District, Council District, NTA, NTA_Name, Principal Name, Principal Title, Principal Phone Number, Fax Number, Geographical District Code, Administrative District Code, Administrative District Location Code, Administrative District Name, Superintendent, Superintendent Location Code, Community School Sup Name, BFSC Location Code, BFSC Director Name, BFSC Director Title, BFSC Director Phone, HighSchool Network Location Code, HighSchool Network Name, HighSchool Network Superintendent, Borough, BIN, Latitude, Longitude]
Index: []

In [15]:
school_data[school_data['Location Code'] == 'K084']

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
694,14K084,K084,P.S. 084 Jose De Diego,3.314000e+11,DOE,General Academic,K-8,"PK,0K,01,02,03,04,05,06,07,08,SE","PK,0K,01,02,03,04,05,06,07,08",Jul 1 1969,Open,K084,250 Berry Street,Brooklyn,NY,11249,3.023910e+09,55100.0,301.0,34.0,BK73,North Side-South Side,Sereida Rodriguez,Principal,718-384-8063,718-302-2313,14,14,K814,COMMUNITY SCHOOL DISTRICT 14,DAVID CINTRON,NaN,NaN,NaN,NaN,KFSN

In [16]:
school_data[school_data['Zip'] == 11368]

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Location Code,Administrative District Name,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,HighSchool Network Superintendent Email,BCO Location Code
1096,24Q014,Q014,P.S. 014 Fairview,3.424000e+11,DOE,General Academic,Elementary,"0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 1915,Open,Q014,107-01 OTIS AVENUE,QUEENS,NY,11368,4.019540e+09,43900.0,404.0,21.0,QN25,Corona,Heather Benson,Principal,718-699-6071,718-699-3224,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1097,24Q016,Q016,P.S. Q016 The Nancy DeBenedittis School,3.424000e+11,DOE,General Academic,Elementary,"0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 1999,Open,Q721,41-15 104 STREET,QUEENS,NY,11368,4.019850e+09,40300.0,404.0,21.0,QN26,North Corona,Katherine Rodriguez,I.A. Principal,718-505-0140,718-505-0141,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1098,24Q019,Q019,P.S. 019 Marino Jeantet,3.424000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 1924,Open,Q019,40-10 99 Street,Queens,NY,11368,4.016070e+09,40900.0,404.0,21.0,QN26,North Corona,KRYSTLE JIMENEZ,Principal,718-424-5859,718-424-7953,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1099,24Q028,Q028,P.S. 28 - The Thomas Emanuel Early Childhood C...,3.424000e+11,DOE,General Academic,Early Childhood,"0K,01,02,SE","PK,0K,01,02",Jul 1 2002,Open,Q028,109-10 47 AVENUE,QUEENS,NY,11368,4.020030e+09,41500.0,404.0,21.0,QN25,Corona,Robert Quintana,Principal,718-271-4971,718-271-2576,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1102,24Q061,Q061,I.S. 061 Leonardo Da Vinci,3.424000e+11,DOE,General Academic,Junior High-Intermediate-Middle,"06,07,08,SE","06,07,08",Jul 1 1966,Open,Q061,98-50 50 AVENUE,QUEENS,NY,11368,4.018910e+09,44302.0,404.0,21.0,QN25,Corona,JOSEPH LISA,Principal,718-760-3233,718-760-5220,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1114,24Q110,Q110,P.S. 110,3.424000e+11,DOE,General Academic,Elementary,"0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 2012,Open,Q315,43-18 97 Place,Queens,NY,11368,4.016130e+09,37500.0,404.0,21.0,QN26,North Corona,Elisa Gomez,Principal,718-424-8278,718-424-8345,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1119,24Q143,Q143,P.S. 143 Louis Armstrong,3.424000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 1929,Open,Q143,34-55 112 Street,Queens,NY,11368,4.017560e+09,38100.0,403.0,21.0,QN26,North Corona,Justine Lucas,Principal,718-429-5700,718-478-8306,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1122,24Q211,Q211,Elm Tree Elementary School,3.424000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 2013,Open,Q298,50-51 98 Street,Queens,NY,11368,4.018910e+09,44302.0,404.0,21.0,QN25,Corona,Kristen Niven,Principal,929-208-4860,909-208-4862,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1133,24Q307,Q307,Pioneer Academy,3.424000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 2008,Open,Q260,40-20 100 Street,Queens,NY,11368,4.016080e+09,40700.0,404.0,21.0,QN26,North Corona,CECILIA JACKSON,Principal,718-779-5068,718-779-5109,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1134,24Q311,Q311,Corona Arts & Sciences Academy,3.424000e+11,DOE,General Academic,Junior High-Intermediate-Middle,"06,07,08,SE","06,07,08",Jul 1 2013,Open,Q311,98-11 44 Avenue,Queens,NY,11368,4.016280e+09,40900.0,404.0,21.0,QN26,North Corona,Beth Hert,Principal,718-507-3820,718-507-3828,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1135,24Q330,Q330,Helen M. Marshall School,3.424000e+11,DOE,General Academic,Elementary,"0K,01,02,03,04,05,SE","0K,01,02,03,04,05",Jul 1 2010,Open,Q287,110-08 NORTHERN BOULEVARD,QUEENS,NY,11368,4.017250e+09,38100.0,403.0,21.0,QN26,North Corona,Debra Rudolph,Principal,718-505-5110,718-505-5115,24,24,Q824,COMMUNITY SCHOOL DISTRICT 24,ANTHONY RIVERA,NaN,NaN,NaN,NaN,QFSN
1143,24Q550,Q550,High School for Arts and Business,3.424000e+11,DOE,General Academic,High school,"09,10,11,12,SE","09,10,11,12",Apr 24 1998,Open,Q456,105-25 Horace Harding Expy N,Queens,NY,11368,4.019630e+09,43701.0,404.0,21.0,QN25,Corona,ANA ZAMBRANO BURAKO,Principal,718-271-8383,718-271-7196,24,24,HS01,NaN,NaN,HS01,HS Network 01 Superintendent Office,HOA TU,htu@schools.nyc.gov,QFSN
1404,30Q092,Q092,P.S. 092 Harry T. Stewart Sr.,3.430000e+11,DOE,General Academic,Elementary,"PK,0K,01,02,03,04,05,SE","PK,0K,01,02,03,04,05",Jul 1 1913,Open,Q292,99-01 34 AVENUE,QUEENS,NY,11368,4.017140e+09,37700.0,403.0,21.0,QN26,North Corona,Daisy Morales,Principal,718-533-1013,718-533-1083,30,30,Q830,COMMUNITY SCHOOL DISTRICT 30,LISA HIDALGO,NaN,NaN,NaN,NaN,QFSN
1782,84Q418,Q418,Our World Neighborhood Charter School 3,3.424009e+11,Charter,General Academic,Elementary,"0K,01,02,03,04",NaN,Jul 1 2022,Open,QCQV,108-68 Roosevelt Avenue,Queens,NY,11368,4.019968e+09,2003.0,404.0,21.0,NaN,NaN,Tanicqua Pryor,Principal,NaN,NaN,24,84,NaN,OFFICE OF CHARTER SCHOOLS,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
school_data['Community District'].value_counts().shape

(60,)