# MTA On-Time Performance EDA

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

mta_time_1 = pd.read_csv('../data/MTA_Subway_Terminal_On-Time_Performance_2015-2019.csv', low_memory=False)
mta_time_2 = pd.read_csv('../data/MTA_Subway_Terminal_On-Time_Performance_2020-2024.csv', low_memory=False)

mta_time_1.head()

,month,division,line,day_type,num_on_time_trips,num_sched_trips,terminal_on_time_performance
0,2015-01-01,A DIVISION,1,1,"6,874","9,017",76.2337806%
1,2015-01-01,A DIVISION,2,1,"2,920","6,175",47.2874494%
2,2015-01-01,A DIVISION,3,1,"4,004","5,834",68.6321563%
3,2015-01-01,A DIVISION,4,1,"3,692","7,623",48.4323757%
4,2015-01-01,A DIVISION,5,1,"3,203","6,491",49.3452473%

In [2]:
mta_time_2.head()

,month,division,line,day_type,num_on_time_trips,num_sched_trips,terminal_on_time_performance
0,2024-12-01,A DIVISION,1,1,"7,689","9,711",79.17825%
1,2024-12-01,A DIVISION,1,2,"2,907","3,240",89.72222%
2,2024-12-01,A DIVISION,2,1,"4,693","6,997",67.071605%
3,2024-12-01,A DIVISION,2,2,"1,772","2,690",65.873605%
4,2024-12-01,A DIVISION,3,2,"1,389","1,710",81.22807%